CHANGELOG.md
CONTRIBUTING.md
ROADMAP.md
docs
legacy/characterization/README.md
tests/regression/README.md
build/
__pycache__
TODO.txt
*egg-info*
.venv/
/artools
/artools-gui
/artools.cmd
/artools-gui.cmd
